.hero-image{
  width: 100%;

}
.hero-container{
  position: relative;
  text-align: center;
  color: #ffffff;

}
.overlay{
  position: absolute;
  top: 78%;
  width: 100%;
background: black;
  opacity: .7;
}
.hero-hed{
  font-size: 3em;
  color: #ffffff,
  margin: 0 auto;
  padding-bottom: 10px;
  font-family: 'Barlow Condensed', sans-serif;
}
.hero-sub
{
  font-size: 1.5em;
  color: #ffffff;
  margin: 0 auto;
font-family: 'Barlow Condensed', sans-serif;
}
.nav-right{
  float: right;
}
.nav.center{
  float: center;
}
.nav-left{
  float: left;
}
h3{
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}
p{
  font-family: 'Play', sans-serif;
  text-align: left;

}
h2{
  font-family: 'Barlow Condensed', sans-serif;
  text-decoration: underline;
  text-align: center;
}
#intro{
  text-align: left;
}
.caption{
  text-align: center;
  color: black;
  font-size: .75em;
  font-family: 'Play', sans-serif;
}
.quote{
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  border-top: .5em solid black;
   border-bottom: .5em solid black;
   border-right: .5em solid black;
    border-left: .5em solid black;
margin: 0 auto;
  margin-top: 20px;
  background: #ADD8E6;
}
.quote-attribution{
    font-family: 'Barlow Condensed', sans-serif;
  color: black;
  font-size: .5em;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  text-align: center;
}
#unseld{
  float: right;

}
.unseld{
  width: 100%;
}
.mosley{
  max-width: 100%;
  width: 100%;
}
.row{
  max-width: 100;
}
.container{
  max-width: 90%;
}
.udoka{
  width: 100%;
}
.smart{
  width: 100%;
}
.green{
  width: 100%;
}
#footer{
  text-align: center;
  color: #ffffff;
}
h4{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  text-align: left;

}
@media(max-width:550px){
  p {
    padding-left: 20px;
    padding-right: 10px;
  }
  .chapter-image{
    font-size: 1.25em;
}
.hero-hed{
  font-size: 1em;
}
.hero-sub{
  font-size: .75em;
}
