
.header{
  width: 100%;

}
.sectionheader{
}
body{margin: 0 auto;
background-color: #DBF9FC
}
#top{
text-align: center;
padding-bottom: 55px;
font-size: 1.75em;
border-bottom: solid, 2px #00BFFF;
}
#section1{
text-align: left;
}
#about{
  text-align: center;
}
.card{
  margin: 0 auto;
}
#work{
  text-align: center;
}
.body{
  background-color:;
}
ul{
  text-align: center;
   list-style-position: inside
}
li{
  font-family: 'Roboto Mono', monospace;
}
#expo{
  padding-bottom: 55px;
}
p{
  font-family: 'Roboto Mono', monospace;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: bolder;
  color: #130A7B;
}
h2{
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  font-size: 20px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.card-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
